h1 {
    color: #6c2eb9;
    font-weight: normal;
    font-size: 40px;
    font-family: Arial;
    text-transform: uppercase;
}

h3 {
    color: #443963;
    font-weight: normal;
    font-size: 30px;
    font-family: Arial;
    text-transform: lowercase;
  }